<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Website</title>
  </head>

  <body>
    {{> header}}
    <p>To learn more about signup read more</p>

    {{> footer}}
  </body>
</html>
